@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: "Raleway";
  font-size: inherit;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.page-header {
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  background-color: #ffe17f;
}

.navigation {
  width: 1040px;
  padding: 0 60px 34px;
}

.navigation-menu-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-search {
  display: flex;
  margin-right: 26px;
}

.field {
  font-family: inherit;
}

.navigation-search-field {
  width: 359px;
  margin: 0;
  padding: 10px;
  padding-left: 48px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000000;
}

.navigation-search-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.button-search {
  min-width: 160px;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  border-left: none;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-catalog {
  display: flex;
  gap: 45px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-catalog-item:first-child {
  margin-right: auto;
}

.navigation-catalog-link,
.footer-navigation-link {
  font-family: "Raleway";
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.subcatalog {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subcatalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subcatalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.slider {
  width: 1160px;
  margin: auto;
  padding-top: 85px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: flex;
  gap: 40px;
}

.title,
.popular-goods-slogan {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.popular-goods-slogan {
  margin-bottom: 29px;
}

.slider .button {
  margin: 50px 0 50px;
}

.popular-goods-features {
  border-spacing: 12px 20px;
}

.table-data {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
}

.goods-categories {
  width: 1160px;
  margin: auto;
  margin-bottom: 70px;
}

.goods-categories-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goods-categories-item {
  position: relative;
  width: 160px;
  padding-top: 193px;
}

.goods-categories-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.goods-categories-link {
  font-family: "Raleway";
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.terms {
  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.terms-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: auto;
}

.terms-button-container {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.terms-button:not(:last-child) {
  margin-bottom: 35px;;
}

.terms-button-active {
  background-color: #000000;
}

.terms-list {
  box-sizing: border-box;
  width: 880px;
  margin: 0;
  padding: 0;
  padding-left: 116px;
  list-style-type: none;
}

.delivery-info {
  font-family: Raleway;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  color: #000000;
  text-decoration: none;
}

.delivery-companies-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address-text {
  margin: 0;
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #000000;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-form-email {
  font-size: inherit;
  line-height: inherit;
}

.page-footer {
  background-color: #444444;
}

.footer-address,
.footer-contacts-phone {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation-link {
  color: #ffffff;
}

/*Каталог*/

.navigation-link-out {
  opacity: 0.3;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-products {
  background-color: #f0f0f0;
}

.filter-title,
.button-more {
  font-family: Raleway;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.filter-label,
.range-input {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.card-container {
  background-color: #ffffff;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}

.pagination-container{
  background-color: #f0f0f0;
}

.button-pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}
