@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: "Raleway";
  font-size: inherit;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.page-header {
  position: relative;
  width: 1160px;
  margin: auto;
  background-color: #ffe17f;
}

.navigation {
  width: 1040px;
  padding: 0 60px 34px;
}

.navigation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 40px;
  background-color: #ffffff;
}

.page-logo {
  display: block;
  position: relative;
  width: 145px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.page-logo:focus,
.navigation-link:focus,
.navigation-catalog-link:not(.with-subcatalog .navigation-catalog-link):focus,
.subcatalog-link:focus {
  outline: 2px solid #af4fff;
}

.page-logo:hover,
.navigation-link:hover,
.navigation-catalog-link:not(.with-subcatalog .navigation-catalog-link):hover,
.subcatalog-link:hover {
  opacity: 0.6;
}

.page-logo:active,
.navigation-link:active,
.navigation-catalog-link:not(.with-subcatalog .navigation-catalog-link):active,
.subcatalog-link:active {
  opacity: 0.3;
  outline: none;
}

.page-logo-image {
  display: block;
}

.navigation-container {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
}

.navigation-search {
  display: flex;
  margin-right: 26px;
}

.field {
  font-family: inherit;
}

.navigation-search-field {
  box-sizing: border-box;
  width: 359px;
  margin: 0;
  padding: 8px 10px;
  padding-left: 47px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  background-image: url(../images/navigation/search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.navigation-search-field:focus {
  outline: 2px solid #af4fff;
}

.navigation-search-field:disabled {
  opacity: 0.3;
}

.navigation-search-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.button-search {
  box-sizing: border-box;
  min-width: 158px;
  margin: 0;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  border-left: none;
  cursor: pointer;
}

.button-search:focus {
  outline: 2px solid #af4fff;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 2px;
  background-color: #000000;
}

.navigation-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 230px;
  margin-right: auto;
}

.user {
  overflow: hidden;
}

.navigation-cart {
  padding-left: 15px;
}

.navigation-login .navigation-link::before {
  content: "";
  background-image: url(../images/navigation/login.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 15px;
  flex-shrink: 0;
}

.navigation-compare .navigation-link::before {
  content: "";
  background-image: url(../images/navigation/compare.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 10px;
}

.navigation-cart .navigation-link::before {
  content: "";
  background-image: url(../images/navigation/cart.svg);
  background-repeat: no-repeat;
  background-position: left bottom 10px;
  width: 16px;
}

.navigation-cart .navigation-link::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "2";
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.navigation-link {
  display: flex;
  gap: 12px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-out {
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.with-subcatalog {
  position: relative;
  margin-right: auto;
  padding-right: 68px;
}

.with-subcatalog .navigation-catalog-link::after {
  position: absolute;
  left: 100%;
  content: url(../images/navigation/plus.svg);
  width: 16px;
  height: 16px;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-left: 18px;
  transform: translateY(-32%);
  opacity: 0.3;
}

.with-subcatalog:hover .navigation-catalog-link::after {
  opacity: 1;
}

.with-subcatalog:active .navigation-catalog-link::after,
.with-subcatalog:focus-within .navigation-catalog-link::after {
  content: url(../images/navigation/minus.svg);
  opacity: 1;
}

.navigation-catalog-item:not(.with-subcatalog) {
  min-width: 127px;
}

.navigation-catalog-link,
.footer-navigation-link {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: "Raleway";
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.subcatalog {
  display: none;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: absolute;
  width: 1160px;
  left: -60px;
  gap: 30px 60px;
  margin: 0;
  margin-top: 10px;
  padding: 0 60px 34px;
  padding-right: 60px;
  list-style-type: none;
  background-color: #ffe17f;
}

.with-subcatalog:active .subcatalog,
.with-subcatalog:focus-within .subcatalog {
  display: flex;
}

.subcatalog-list {
  display: flex;
  flex-direction: column;
  min-width: 151px;
  min-height: 120px;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subcatalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.slider {
  width: 1160px;
  margin: auto;
  padding-top: 85px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: flex;
  gap: 40px;
}

.title,
.popular-goods-slogan {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.popular-goods-slogan {
  margin-bottom: 29px;
}

.slider .button {
  margin: 50px 0 50px;
}

.popular-goods-features {
  border-spacing: 12px 20px;
}

.table-data {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
}

.goods-categories {
  width: 1160px;
  margin: auto;
  margin-bottom: 70px;
}

.goods-categories-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goods-categories-item {
  position: relative;
  width: 160px;
  padding-top: 193px;
}

.goods-categories-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.goods-categories-link {
  font-family: "Raleway";
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.terms {
  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.terms-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: auto;
}

.terms-button-container {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.terms-button:not(:last-child) {
  margin-bottom: 35px;;
}

.terms-button-active {
  background-color: #000000;
}

.terms-list {
  box-sizing: border-box;
  width: 880px;
  margin: 0;
  padding: 0;
  padding-left: 116px;
  list-style-type: none;
}

.delivery-info {
  font-family: Raleway;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  color: #000000;
  text-decoration: none;
}

.delivery-companies-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address-text {
  margin: 0;
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #000000;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-form-email {
  font-size: inherit;
  line-height: inherit;
}

.page-footer {
  background-color: #444444;
}

.footer-address,
.footer-contacts-phone {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation-link {
  color: #ffffff;
}

/*Каталог*/

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-products {
  background-color: #f0f0f0;
}

.filter-title,
.button-more {
  font-family: Raleway;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-subtitle {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.filter-label,
.range-input {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.sorting {
  background-color: #f0f0f0;
}

.card-container {
  background-color: #ffffff;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  color: #444444;
}

.pagination{
  background-color: #f0f0f0;
}

.button-pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}
